body {
  background-color: black;
  text-align: center;
  color: lightgray;
  font-family: "PixelFont", monospace;
  font-size: 16px;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: grayscale;
}

.hide {
  display: none;
}

.cell {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  display: inline-block;
  margin-right: -1px;
  margin-bottom: -4px;
  font-size: 1.5em;
}

.hide {
  display: none;
}

h1 {
  color: rgb(144, 222, 27);
}

.game-over {
  color: red;
}

span.numbers {
  color: rgb(244, 87, 210);
}

.keys {
  color: yellow;
}

p {
  margin: 5px 0; /* Smaller top and bottom margins */
  padding: 0; /* Adjust as needed */
}

.game-over-container {
  display: flex;
  align-items: center; /* Vertically centers the items in the container */
  justify-content: center; /* Horizontally centers the items */
}

.game-over-container h4,
.game-over-container button {
  padding: 5px; /* Optional, for spacing */
}

.msg {
  margin-right: 20px; /* Add space to the right of the message */
}

button {
  margin-left: 20px; /* Add space to the left of the button */
}
