body {
  background-color: black;
  text-align: center;
  color: lightgray;
  font-family: "PixelFont", monospace;
  font-size: 16px;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: grayscale;
}

.hide {
  display: none;
}

.cell {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  display: inline-block;
  margin-right: -1px;
  margin-bottom: -4px;
  font-size: 1.5em;
}

.hide {
  display: none;
}

h1 {
  color: rgb(144, 222, 27);
}

.game-over {
  color: red;
}

span.numbers {
  color: rgb(244, 87, 210);
}

.keys {
  color: yellow;
}

.name {
  color: rgb(105, 101, 101);
}

p {
  margin: 5px 0;
  padding: 0;
}

.game-over-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-over-container h4,
.game-over-container button {
  padding: 5px;
}

.msg {
  margin-right: 20px;
}

button {
  background-color: #079707;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  transition: background-color 0.3s, color 0.3s;
}

button:hover {
  background-color: #ff00ff;
  color: #000000;
}
